<div style="display:none" id="modal-rules-buyer">
	<div class="relative flex w-full flex-col overflow-hidden rounded-lge bg-white px-4 py-10 transition-all transform sm:w-[61.25rem] lg:p-7.5">
		<button class="modal-close absolute right-4 top-4 z-10 ml-auto flex h-5 w-5 items-center justify-center p-0 md:right-5 md:top-5" aria-label="Закрити модальне вікно">
			<svg class="h-4 w-4 fill-tundora md:h-5 md:w-5">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
			</svg>
		</button>

		<div class="text-center text-base font-medium leading-5 lg:text-lg lg:leading-7">Ознайомтеся з правилами безпеки листування на сайті Вамбері:</div>
		<div class="mt-6 flex flex-col gap-4 text-shark lg:gap-5">
			<!--  -->
			<div class="faq-item rounded-lge border border-lavender-purple p-3.5">
				<button class="faq-btn flex w-full items-center justify-between gap-4 lg:gap-16">
					<span class="text-left text-sm font-medium leading-5 lg:text-base lg:leading-6">1) Не повідомляйте свої контактні та особисті дані продавцю у листуванні, вся необхідна інформація вже вказується при оформленні замовлення.</span>

					<svg class="h-2.5 w-5 flex-shrink-0 fill-shark transition ease-in">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>
				<div class="faq-content mt-5 hidden text-sm leading-5 lg:pr-16">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati voluptatum dolorem modi. Distinctio, voluptatem ex tenetur maiores perspiciatis ab.</div>
			</div>
			<!--  -->
			<div class="faq-item rounded-lge border border-lavender-purple p-3.5">
				<button class="faq-btn flex w-full items-center justify-between gap-4 lg:gap-16">
					<span class="text-left text-sm font-medium leading-5 lg:text-base lg:leading-6">2) Не переходьте до спілкування на інших сайтах чи інших месенджерах. Важливо не використовувати сторонні месенджери для спілкування з продавцем, оскільки такі прохання надходять лише від шахраїв.</span>

					<svg class="h-2.5 w-5 flex-shrink-0 fill-shark transition ease-in">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>
				<div class="faq-content mt-5 hidden text-sm leading-5 lg:pr-16">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati voluptatum dolorem modi. Distinctio, voluptatem ex tenetur maiores perspiciatis ab.</div>
			</div>
			<!--  -->
			<div class="faq-item rounded-lge border border-lavender-purple p-3.5">
				<button class="faq-btn flex w-full items-center justify-between gap-4 lg:gap-16">
					<span class="text-left text-sm font-medium leading-5 lg:text-base lg:leading-6">3) Не переходьте за посиланнями, які надіслали Вам у чаті, - це заборонено робити, оскільки вся необхідна інформація вже є на сайті Вамбері.</span>

					<svg class="h-2.5 w-5 flex-shrink-0 fill-shark transition ease-in">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>
				<div class="faq-content mt-5 hidden text-sm leading-5 lg:pr-16">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati voluptatum dolorem modi. Distinctio, voluptatem ex tenetur maiores perspiciatis ab.</div>
			</div>
			<!--  -->
			<div class="faq-item rounded-lge border border-lavender-purple p-3.5">
				<button class="faq-btn flex w-full items-center justify-between gap-4 lg:gap-16">
					<span class="text-left text-sm font-medium leading-5 lg:text-base lg:leading-6">4) Не передавайте свої особисті дані, такі як пароль або PIN-код. Співробітники Vamberi ніколи не попросять пароль, ПІН-код або номер CVV.</span>

					<svg class="h-2.5 w-5 flex-shrink-0 fill-shark transition ease-in">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>
				<div class="faq-content mt-5 hidden text-sm leading-5 lg:pr-16">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis obcaecati voluptatum dolorem modi. Distinctio, voluptatem ex tenetur maiores perspiciatis ab.</div>
			</div>
			<!--  -->
			<div class="faq-item rounded-lge border border-lavender-purple p-3.5">
				<button class="faq-btn flex w-full items-center justify-between gap-4 lg:gap-16">
					<span class="text-left text-sm font-medium leading-5 lg:text-base lg:leading-6">5) Запити даних картки для «повернення» грошей. Ніколи і нікому не надсилати дані своєї банківської картки чи її фото.</span>

					<svg class="h-2.5 w-5 flex-shrink-0 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>
				<div class="faq-content mt-5 hidden text-sm leading-5 lg:pr-16">Якщо раптом продавець з якоїсь причини просить про це, натисніть кнопку “повідомити про шахрайські дії”. Скасування доставки товару - лише привід для того, щоб вступити в контакт з покупцем і дізнатися дані банківської картки. Багато хто звикли до того, що вони потрібні для повернення грошей. Однак на Вамбері повернення коштів завжди відбувається в платіжній системі — і в тих випадках, коли покупець відмовляється від товару шляхом натискання кнопки «скасувати замовлення» в особистому кабінеті, і в тих, коли доставку скасовує продавець. Ці карти для цього передавати не потрібно — вони вже безпечно збережені в платіжній системі.</div>
			</div>
			<!--  -->

			<div>
				<label class="flex cursor-pointer items-center gap-4">
					<div class="relative flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-md border border-shark/50">
						<input type="checkbox" name="" class="peer hidden" />

						<svg class="h-4 w-4 fill-limeade opacity-0 transition ease-in peer-checked:opacity-100">
							<use xlink:href="img/svg/sprites/sprite-icons.svg#checker"></use>
						</svg>
					</div>
					<div class="text-sm font-light leading-5 text-tundora lg:font-normal">Поставивши галочку і натиснувши продовжити, Ви приймаєте правила листування в чаті VamBeri</div>
				</label>
				<div class="mt-4.5 flex items-center gap-4">
					<svg class="h-6.5 w-6.5 flex-shrink-0 fill-tall-poppy">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#warning"></use>
					</svg>
					<div class="text-sm font-light leading-5 text-tundora lg:font-normal">При недотриманні правил листування модератор сайту VamBeri має право заблокувати користувача, а також не несе відповідальності за можливі неправомірні дії з боку шахраїв.</div>
				</div>
			</div>

			<div class="mt-5 flex justify-center lg:justify-end">
				<div class="flex flex-col-reverse items-center gap-3.5 lg:flex-col">
					<label class="flex cursor-pointer items-center gap-4">
						<div class="relative flex h-6 w-6 flex-shrink-0 items-center justify-center rounded-md border border-shark/50">
							<input type="checkbox" name="" class="peer hidden" />

							<svg class="h-4 w-4 fill-limeade opacity-0 transition ease-in peer-checked:opacity-100">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#checker"></use>
							</svg>
						</div>
						<div class="text-sm text-tundora">нагадати пізніше</div>
					</label>
					<button class="btn-pink h-11 min-w-[18.125rem] lg:min-w-[13.75rem]">Продовжити</button>
				</div>
			</div>
		</div>
	</div>
</div>
