<div class="relative z-[9999]" aria-labelledby="modal-app-sending-success" role="dialog" aria-modal="true">
	<div class="fixed inset-0 transition-opacity bg-opacity-75 bg-shark/60"></div>

	<div class="fixed inset-0 z-10 overflow-y-auto">
		<div class="flex min-h-full items-center justify-center p-[0.9375rem]">
			<div class="relative flex w-full transform flex-col overflow-hidden rounded-lge bg-white py-[1.875rem] px-[0.625rem] lg:p-[1.875rem] transition-all sm:w-[1060px]">
				<button class="absolute z-10 flex items-center justify-center w-5 h-5 p-0 ml-auto top-4 right-4 md:right-5 md:top-5" aria-label="Закрити модальне вікно">
					<svg class="w-4 h-4 md:w-5 md:h-5 fill-tundora">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
					</svg>
				</button>
				<div>
					<h2 class="text-center text-base md:text-[1.5rem] leading-[145%] font-medium">Кошик товарів</h2>
					<div class="mt-6 md:mt-[1.875rem] rounded-lge border border-dusty-gray md:p-3 p-2.5">
						<div class="relative">
							<div class="flex items-start justify-between gap-2.5 md:flex-row flex-col">
								<div class="flex gap-2.5 sm:gap-[0.9375rem]">
									<div class="w-[7.5rem] h-[5.9375rem]  md:h-[6.75rem] md:w-[9.375rem] overflow-hidden rounded-[0.9375rem] flex-shrink-0">
										<img class="object-cover w-full h-full" src="img/product-card/product001-001.jpg" alt="Lenovo ideapad 330-15ikb" />
									</div>
									<div class="font-medium max-w-[21.25rem]">
										<h3 class="text-xs md:text-[1.125rem] text-shark text-ellipsis line-clamp-2">Lenovo ideapad 330-15ikb</h3>
										<p class="mt-2 text-xs md:text-base text-royal-blue">Макс</p>
										<div class="flex items-center gap-1 sm:gap-1.5 lg:hidden mt-[0.9375rem]">
											<svg class="flex-shrink-0 w-4 h-4 md:w-5 md:h-5">
												<use xlink:href="img/svg/sprites/sprite-icons.svg#wallet2"></use>
											</svg>
											<p class="text-xs md:text-base">Оплата онлайн</p>
										</div>
									</div>
								</div>

								<div class="flex justify-between w-full md:w-auto gap-1 sm:gap-4 md:flex-col md:items-end lg:items-center lg:flex-row lg:max-w-[434px] lg:w-full">
									
									<div class="flex items-center gap-1.5 sm:gap-[0.875rem] flex-shrink-0">
										<button class="flex h-8 w-8 items-center justify-center rounded-[0.3125rem] border border-dusty-gray text-[1.25rem] text-shark transition ease-in hover:text-white hover:bg-lavender-purple">-</button>
										<input type="text" value="1" class="block w-[1.375rem] text-[1.125rem] border-0 p-0 text-center" readonly />
										<button class="flex h-8 w-8 items-center justify-center rounded-[0.3125rem] border border-dusty-gray text-[1.25rem] text-shark transition ease-in hover:text-white hover:bg-lavender-purple">+</button>
									</div>
	
									<div class="flex flex-col flex-grow md:flex-shrink-0 sm:block">
										<div class="flex gap-1 md:gap-2 text-xs md:text-[1.125rem] flex-shrink-0 whitespace-nowrap text-right items-center flex-wrap justify-end"><span class=" justify-self-end">Роздріб:</span> <span class="text-sm font-semibold md:text-[1.125rem] justify-self-end ">2, 299, 999 грн.</span></div>
										<div class="decoration mt-[0.3125rem] text-right text-[0.625rem] md:text-xs text-dusty-gray line-through">8,300 грн.</div>
									</div>
								</div>
							</div>
							
							<div class="mt-5 lg:absolute bottom-0 flex items-center justify-between lg:pl-[10.3125rem] text-xs sm:text-base w-full sm:gap-20 md:gap-32 flex-wrap lg:gap-11 sm:flex-row flex-col gap-5">
								<div class="lg:flex items-center gap-1.5 hidden">
									<svg class="w-5 h-5">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#wallet2"></use>
									</svg>
									<p>Оплата онлайн</p>
								</div>
								<div class="flex justify-between flex-grow w-full sm:w-auto">
									<div>Код товару: <span class="font-semibold">119954759</span></div>
									<div>ID: <span class="font-semibold">45475541 </span></div>
								</div>
								<div class="flex justify-between flex-grow w-full sm:w-auto">
									
									<div>Всього: <span class="font-bold">8000 грн</span></div>
									<div class="flex gap-4">
										<button class="group" aria-label="Додати до улюблених">
											<svg class="w-5 h-5 transition ease-linear group-hover:fill-lavender-purple">
												<use xlink:href="img/svg/sprites/sprite-icons.svg#heart2"></use>
											</svg>
										</button>
										<button class="group" aria-label="Видалити з кошика">
											<svg class="w-5 h-5 transition ease-linear group-hover:fill-pomegranate">
												<use xlink:href="img/svg/sprites/sprite-icons.svg#bin"></use>
											</svg>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="flex justify-center mt-[2.1875rem] gap-5 lg:gap-[1.5625rem] lg:flex-row flex-col items-center">

						<div class="flex">
							<a href="#" class="flex justify-center btn-primary-light items-center h-11 min-w-[15rem]">Продовжити покупки</a>
						</div>
						<div class="flex">
							<a href="#" class="flex justify-center btn-primary-light items-center h-11 min-w-[15rem]">Перейти у кошик</a>
						</div>
						<div class="flex">
							<a href="#" class="flex justify-center btn-primary-light items-center h-11 min-w-[15rem]">Купити зараз</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
