<div class="relative z-[9999]" aria-labelledby="modal-app-sending-success" role="dialog" aria-modal="true">
	<div class="fixed inset-0 bg-shark/60 bg-opacity-75 transition-opacity"></div>

	<div class="fixed inset-0 z-10 overflow-y-auto">
		<div class="flex min-h-full items-center justify-center p-[0.9375rem]">
			<div class="relative flex w-full transform flex-col overflow-hidden rounded-lge bg-white transition-all sm:w-[25.625rem] p-7.5">
				<button class="absolute right-4 top-4 z-10 ml-auto flex h-5 w-5 items-center justify-center p-0 md:right-5 md:top-5" aria-label="Закрити модальне вікно">
					<svg class="h-4 w-4 fill-tundora md:h-5 md:w-5">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
					</svg>
				</button>
				<div>
					<div>Ваша роздрібна ціна</div>
					<div class="mt-2.5 flex max-w-[18.75rem] items-center justify-between">
						<input type="text" class="ring:0 w-[5.5rem] rounded-lge border border-dusty-gray px-4 py-2 focus:ring-0" value="50 грн" />
						<div class="flex items-center gap-4 rounded-lge border border-dusty-gray px-4 py-2">
							<input type="text" class="w-9 border-0 border-b border-b-dusty-gray p-0 ring-0 focus:ring-0" />
							<span>шт.</span>
						</div>
					</div>
					<div class="mt-3.5">Роздрібна ціна сайту</div>
					<input type="text" class="ring:0 mt-2.5 w-[5.5rem] rounded-lge border border-dusty-gray px-4 py-2 focus:ring-0" value="60 грн" />
				</div>
			</div>
		</div>
	</div>
</div>
