<div class="relative z-[9999]" aria-labelledby="modal-app-sending-success" role="dialog" aria-modal="true">
	<div class="fixed inset-0 bg-shark/60 bg-opacity-75 transition-opacity"></div>

	<div class="fixed inset-0 z-10 overflow-y-auto p-4">
		<div class="flex min-h-full items-center justify-center">
			<div class="relative flex w-full transform flex-col overflow-hidden rounded-lge bg-white p-7.5 transition-all sm:w-[34.5rem] lg:p-5">
				<button class="absolute right-4 top-4 z-10 ml-auto flex h-4 w-4 items-center justify-center p-0 md:right-5 md:top-5 lg:h-5 lg:w-5" aria-label="Закрити модальне вікно">
					<svg class="h-4 w-4 fill-tundora md:h-5 md:w-5">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
					</svg>
				</button>
				<div>
					<div class="text-center text-base font-medium sm:text-2xl">Фільтрування за датою</div>

					<div class="mx-auto mt-5 sm:w-[445px] lg:mt-11">
						<div class="relative">
							<input type="text" class="ring:0 w-full rounded-lge  py-2.5 pl-2.5 pr-8 text-sm border border-lavender-purple/50 transition ease-in focus:border-lavender-purple focus:ring-0" placeholder="дд.мм.ггггг" />
							<button class="absolute right-2.5 top-1/2 -translate-y-1/2">
								<svg class="h-4 w-4 fill-shark">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#calendar"></use>
								</svg>
							</button>
						</div>
						<div class="relative mt-3 lg:mt-4">
							<input type="text" class="ring:0 w-full rounded-lge  py-2.5 pl-2.5 pr-8 text-sm border border-lavender-purple/50 transition ease-in focus:border-lavender-purple focus:ring-0" placeholder="дд.мм.ггггг" />
							<button class="absolute right-2.5 top-1/2 -translate-y-1/2">
								<svg class="h-4 w-4 fill-shark">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#calendar"></use>
								</svg>
							</button>
						</div>
					</div>
					<div class="mt-6 flex w-full justify-center lw:mx-auto lw:w-[280px] lg:mt-8">
						<button class="btn-primary flex h-[44px] w-full items-center justify-center text-base font-medium">Застосувати</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
