<div class="hidden absolute top-10 z-30 bg-white px-12.5 py-7.5 lg:top-[100%] lg:w-80 lg:rounded-2lge lg:px-10 lg:py-5 lg:shadow-lavender-purple lg:right-0 -right-[15px] -left-[15px] lg:left-auto lg:min-h-fit min-h-screen overflow-auto lg:overflow-visible">
	
	<div class="items-center justify-between hidden w-full px-3 py-2 mr-4 text-sm transition ease-in rounded-lge bg-lavender-purple lg:flex">
		<label class="relative cursor-pointer">
			<input type="radio" name="account" class="hidden peer/buyer" checked />
			<div class="rounded-lge bg-transparent px-4 py-2.5 text-white transition ease-in peer-checked/buyer:bg-white peer-checked/buyer:text-shark">Покупець</div>
			<svg class="absolute w-5 h-5 transition ease-in -translate-y-1/2 opacity-0 -left-10 top-1/2 fill-tall-poppy peer-checked/buyer:opacity-100">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#bell-filled"></use>
			</svg>
		</label>
		<label class="relative cursor-pointer">
			<input type="radio" name="account" class="hidden peer/seller" />
			<div class="rounded-lge bg-transparent px-4 py-2.5 text-white transition ease-in peer-checked/seller:bg-white peer-checked/seller:text-shark">Продавець</div>
			<svg class="absolute w-5 h-5 transition ease-in -translate-y-1/2 opacity-0 -right-9 top-1/2 fill-tall-poppy peer-checked/seller:opacity-100">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#bell-filled"></use>
			</svg>
		</label>
	</div>

	<!-- buyer -->
	<div class="mt-4 text-shark">

		<button class="flex items-center justify-center w-full h-10 btn-primary lg:hidden">
			Додати товар
		</button>

		<button class="flex items-center justify-center w-full gap-4 p-1 mt-5 text-xs btn-blue-royal-light group h-9 rounded-lge">
			<svg class="w-5 h-5 transition ease-in fill-royal-blue group-hover:fill-white">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#Group"></use>
			</svg>
			<span>Панель управління</span>
		</button>
		
		<ul class="flex flex-col gap-5 mt-4 text-sm">
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#cart"></use>
					</svg>
					<span>Замовлення</span>
				</a>
			</li>
			<li class="relative flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#envelope"></use>
					</svg>
					<span>Повідомлення</span>
				</a>
				<p class="absolute flex-shrink-0 w-5 h-5 -translate-y-1/2 rounded-full lg:relative bg-lavender-purple -right-8 top-1/2 lg:right-[unset] lg:translate-y-0"><span class="absolute text-white -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">6</span></p>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#eye"></use>
					</svg>
					<span>Переглянуті товари</span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
					</svg>
					<span>Вибране</span>
				</a>
			</li>
			<li class="relative flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#message2"></use>
					</svg>
					<span>Мої відгуки</span>
				</a>
				<p class="absolute flex-shrink-0 w-5 h-5 -translate-y-1/2 rounded-full lg:relative bg-lavender-purple -right-8 top-1/2 lg:right-[unset] lg:translate-y-0"><span class="absolute text-white -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">4</span></p>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#settings"></use>
					</svg>
					<span>Налаштування</span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#exit"></use>
					</svg>
					<span>Вихід</span>
				</a>
			</li>




			
		</ul>
	</div>
	<!-- buyer -->

	<!-- seller -->
	<div class="hidden mt-4 text-shark">

		<button class="flex items-center justify-center w-full gap-4 p-1 mt-5 text-xs btn-blue-royal-light group h-9 rounded-lge">
			<svg class="w-5 h-5 transition ease-in fill-royal-blue group-hover:fill-white">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#Group"></use>
			</svg>
			<span>Панель управління</span>
		</button>
		
		<ul class="flex flex-col gap-5 mt-4 text-sm">
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#my-products"></use>
					</svg>
					<span>Мої товари</span>
				</a>
			</li>
			<li class="relative flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#bag"></use>
					</svg>
					<span>Продажі</span>
				</a>
				
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#user01"></use>
					</svg>
					<span>Мої підписки</span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#settings"></use>
					</svg>
					<span>Налаштування</span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 stroke-shark fill-transparent">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#my-shop"></use>
					</svg>
					<span>Мій магазин </span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#add"></use>
					</svg>
					<span>Додати товар</span>
				</a>
			</li>
			<li class="relative flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#envelope"></use>
					</svg>
					<span>Повідомлення</span>
				</a>
				<p class="absolute flex-shrink-0 w-5 h-5 -translate-y-1/2 rounded-full lg:relative bg-lavender-purple -right-8 top-1/2 lg:right-[unset] lg:translate-y-0"><span class="absolute text-white -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2">4</span></p>
			</li>
			
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#wallet"></use>
					</svg>
					<span>Гаманець [0 грн.] </span>
				</a>
			</li>
			<li class="flex items-center gap-5">
				<a href="#" class="flex items-center w-full gap-5 p-3 border rounded-lge border-tundora lg:p-0 lg:border-0">
					<svg class="flex-shrink-0 w-5 h-5 fill-shark">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#exit"></use>
					</svg>
					<span>Вихід</span>
				</a>
			</li>




			
		</ul>
	</div>
	<!-- seller -->
</div>
