<!-- aside menu -->
<div class="relative flex-shrink-0 rounded-lge border-dusty-gray/50 text-sm leading-5 text-shark lg:w-80 lg:border lg:bg-white lg:px-2.5 lg:py-3.5">
	<button class="flex h-9 w-full items-center rounded-lge border border-lavender-purple/50 bg-white px-2.5 py-1.5 transition ease-in lg:hidden">
		<span class="y line-clamp-1 text-ellipsis pr-5 text-sm leading-5">Служба підтримки</span>
		<svg class="ml-auto h-2 w-4 flex-shrink-0 fill-shark">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
		</svg>
	</button>

	<div class="absolute left-1/2 top-0 z-10 hidden w-full -translate-x-1/2 rounded-lge border border-lavender-purple/50 bg-white py-2.5 pl-2 pr-1 text-shark lg:static lg:block lg:translate-x-0 lg:border-0 lg:p-0">
		<div class="flex items-center pr-1.5 lg:hidden">
			<span class="line-clamp-1 text-ellipsis pr-5 text-sm">Служба підтримки</span>
			<svg class="ml-auto h-2 w-4 flex-shrink-0 rotate-180 fill-shark">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
			</svg>
		</div>

		<ul class="mt-3 flex flex-col gap-2.5 lg:mt-0">
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Блог</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Про нас</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Контакти</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Безпечна угода</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Угода користувача </a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Договір-оферта</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Дропшипінг</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Політика конфіденційності</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Правила подання оголошень</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Пропозиції для покращення сайту</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Заборонені публікації та товари</a>
			</li>
			<li>
				<a href="#" class="block rounded-lge border border-tundora/50 p-1 text-center transition ease-in hover:bg-lavender-purple hover:text-white">Політика використання файлів cookie</a>
			</li>
		</ul>
	</div>

	<div class="mt-3.5 w-full lw:mx-auto lw:max-w-[15.875rem]">
		<button class="flex w-full items-center gap-5 rounded-lge border border-dusty-gray/50 bg-white px-4 py-2.5 text-left transition ease-in hover:bg-lavender-purple hover:text-white lw:gap-2 lw:py-1">
			<svg class="h-7.5 w-7.5 flex-shrink-0 lw:h-11 lw:w-10">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#support"></use>
			</svg>
			<div class="">
				<div class="text-sm font-medium">Служба підтримки</div>
				<div class="mt-1 text-xs lw:text-sm">Допоможемо вирішити проблему</div>
			</div>
		</button>
	</div>
</div>
<!-- ./aside menu -->
