<!-- breadcrumbs -->
<div class="text-sm">
	<ul class="flex items-center gap-1 overflow-hidden">
		@@if(context.item2) {
		<li class="flex items-center gap-1">
			<a href="#" class="link-primary line-clamp-1 text-ellipsis text-tundora">@@item1</a>
			<svg class="h-2.5 w-2.5 fill-lavender-purple">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
			</svg>
		</li>
		} @@if(!context.item2) {
		<li class="flex items-center gap-1">
			<a href="#" class="link-primary line-clamp-1 text-ellipsis text-tundora">@@item1</a>
		</li>
		} @@if(context.item3) {
		<li class="flex items-center gap-1">
			<a href="#" class="link-primary line-clamp-1 text-ellipsis text-tundora">@@item2</a>
			<svg class="h-2.5 w-2.5 fill-lavender-purple">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
			</svg>
		</li>
		<li class="flex items-center gap-1">
			<a href="#" class="link-primary line-clamp-1 overflow-hidden text-ellipsis text-tundora">@@item3</a>
		</li>
		} @@if(!context.item3) {
		<li class="flex items-center gap-1">
			<a href="#" class="link-primary line-clamp-1 text-ellipsis text-tundora">@@item2</a>
		</li>
		}
	</ul>
</div>
<!-- ./breadcrumbs -->
