<!-- breadcrumbs -->
<div class="pt-2 lg:pt-7.5 text-xs lg:text-sm lg:pb-2 pb-4">
	<div class="container">
		<ul class="flex items-center gap-1 overflow-hidden">
			<li class="flex items-center gap-1">
				<a href="#" class="link-primary text-tundora text-ellipsis line-clamp-1">Україна</a>
				<svg class="w-2.5 h-2.5 fill-lavender-purple">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
				</svg>
			</li>
			<li class="flex items-center gap-1">
				<a href="#" class="link-primary text-tundora text-ellipsis line-clamp-1">Електроніка</a>
				<svg class="w-2.5 h-2.5 fill-lavender-purple">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
				</svg>
			</li>
			<li class="flex items-center gap-1 ">
				<a href="#" class="overflow-hidden link-primary text-tundora text-ellipsis line-clamp-1">Комп’ютери і комплектуючі</a>
				
			</li>
		</ul>
		
	</div>
</div>
<!-- ./breadcrumbs -->