<!-- breadcrumbs -->
<div class="pt-2 lg:pt-[1.875rem] text-[0.6875rem] lg:text-[0.875rem] leading-[121%] lg:pb-2 pb-4">
	<div class="container">
		<ul class="flex items-center gap-[0.1875rem] overflow-hidden">
			<li class="flex items-center gap-[0.1875rem]">
				<a href="#" class="link-primary text-tundora text-ellipsis line-clamp-1">Україна</a>
				<svg class="w-2.5 h-2.5 fill-lavender-purple">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
				</svg>
			</li>
			<li class="flex items-center gap-[0.1875rem]">
				<a href="#" class="link-primary text-tundora text-ellipsis line-clamp-1">Електроніка</a>
				<svg class="w-2.5 h-2.5 fill-lavender-purple">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
				</svg>
			</li>
			<li class="flex items-center gap-[0.1875rem] ">
				<a href="#" class="overflow-hidden link-primary text-tundora text-ellipsis line-clamp-1">Комп’ютери і комплектуючі</a>
				
			</li>
		</ul>
		
	</div>
</div>
<!-- ./breadcrumbs -->