<!-- card -->
<div class="group relative flex flex-col">
	<!--  favorite icon -->
	<button class="absolute right-3 top-3 z-30 opacity-100 transition ease-in group-hover:opacity-100 sm:right-5 sm:top-5 lg:opacity-0">
		@@if (context.iconHeartFill) {
		<svg class="h-4 w-4 shrink-0 fill-dusty-gray sm:h-5 sm:w-5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
		</svg>
		} @@if (context.iconHeartStroke) {
		<svg class="h-4 w-4 shrink-0 fill-lavender-purple sm:h-5 sm:w-5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#heart-solid"></use>
		</svg>
		}
	</button>
	<!-- ./favorite icon -->

	<!-- buy button -->

	<div class="pointer-events-none absolute -bottom-11 left-0 right-0 z-30 hidden rounded-bl-xle rounded-br-xle bg-white py-2.5 opacity-0 shadow-custom transition ease-in group-hover:pointer-events-auto group-hover:opacity-100 lg:block">
		<div class="absolute inset-0 -top-0.5 h-1 bg-white"></div>
		<div class="flex justify-center">
			<button class="btn-pink h-[2.125rem] w-[11.875rem]">В кошик</button>
		</div>
	</div>

	<!-- ./buy button -->

	<!-- image -->
	<div class="absolute top-1 z-20 h-[9.25rem] w-full overflow-hidden px-1.5 pb-1 sm:top-2 sm:h-[17.625rem] sm:pb-2">
		<img src="@@image" alt="" class="h-full w-full rounded-xle object-cover" />
		@@if (context.discount) {
		<div class="absolute left-3 top-3 z-20 rounded-lg bg-pomegranate px-1 py-0.5 text-xs text-white sm:left-4 sm:top-3 sm:text-sm">@@discount</div>
		} @@if (context.slidersBtn) {
		<button class="group/btn absolute left-1 top-[calc(50%-0.25rem)] z-20 flex h-5 w-5 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple sm:left-3 lg:h-7.5 lg:w-7.5">
			<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-left"></use>
			</svg>
		</button>
		<button class="group/btn absolute right-1 top-[calc(50%-0.25rem)] z-20 flex h-5 w-5 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple sm:right-3 lg:h-7.5 lg:w-7.5">
			<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
			</svg>
		</button>
		}
	</div>
	<!-- .image -->

	<a class="flex flex-grow flex-col" href="#">
		<!-- card image -->
		<div class="rounded-bl-2lge rounded-br-xle rounded-tl-xle rounded-tr-lge bg-white px-1.5 pb-1 shadow-custom sm:rounded-bl-4xle sm:rounded-br-4xle sm:pb-5">
			<div class="relative h-[9.25rem] overflow-hidden rounded-xle sm:h-[17.125rem]"></div>
		</div>
		<!-- ./card image -->

		<!-- card info -->
		<div class="relative z-10 -mt-1 flex grow flex-col rounded-bl-lge rounded-br-lge rounded-tl-2lge rounded-tr-2lge bg-white px-1 pb-1 pt-1 shadow-custom sm:-mt-4 sm:rounded-bl-xle sm:rounded-br-xle sm:rounded-tl-4xle sm:rounded-tr-4xle sm:px-2.5 sm:py-2">
			<!-- <div class="absolute -top-[1px] left-1/2 h-2.5 w-[90.5%] -translate-x-1/2 bg-white sm:w-[91%] md:w-[86%]"></div> -->

			<div class="mt-1 line-clamp-2 h-8 overflow-hidden text-ellipsis text-sm font-medium">@@title</div>
			<div class="mt-1.5 flex items-center">
				<div class="relative flex items-center gap-0.5 sm:gap-3">
					<div class="text-sm font-bold sm:text-lg">@@price</div>
					@@if (context.oldPrice) {
					<div class="ml-4 text-xs text-dove-gray line-through decoration-dove-gray sm:ml-0 sm:text-base">@@oldPrice</div>
					}
				</div>
			</div>

			<div class="mt-auto flex flex-col">
				<div class="mt-1.5 flex items-center gap-2 sm:justify-between">
					@@if (context.groupPrice) {

					<div class="flex-shrink-0 text-xs text-royal-blue sm:text-sm">@@groupPrice</div>

					} @@if (context.additionalText) {
					<div class="w-full gap-1 text-center text-xs font-semibold text-pomegranate sm:text-sm">@@additionalText</div>
					}
				</div>

				@@if (context.deliveryState) {
				<div class="mt-1 flex items-center justify-center gap-1">
					<div class="text-center text-xs text-limeade sm:text-left sm:text-sm">Готовий до відправки</div>
					<img class="hidden h-3.5 w-3.5 sm:block sm:h-5 sm:w-5" src="img/svg/delivery-car.svg" alt="" />
				</div>
				} @@if (context.onOrder) {
				<div class="mt-1 text-center text-xs text-pomegranate sm:text-sm">Під замовлення 5 днів</div>
				}

				<div class="mt-1.5 flex flex-wrap items-center justify-start gap-4 sm:mt-2 lg:mt-1 lg:justify-between lg:gap-0">
					<div class="hidden flex-wrap items-center gap-1 lg:flex">
						<div class="flex items-center">
							<svg class="h-3 w-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="h-3 w-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="h-3 w-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="h-3 w-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="h-3 w-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
						</div>
						<div class="text-xs text-dusty-gray">@@totalScores</div>
					</div>

					<button class="btn-primary rounded-emd px-3.5 py-1.5 text-sm lg:hidden">Купити</button>

					@@if (context.stateNew) {

					<p class="text-sm text-shark xl:pr-4">Новий</p>

					} @@if (context.stateUsed) {

					<p class="text-sm text-shark xl:pr-4">Б/в</p>

					}
				</div>
			</div>
		</div>
		<!-- ./card info -->
	</a>
</div>
<!-- ./card -->
