<!-- card -->
<div class="swiper-slide flex-shrink">
	<div>
		<div class="hidden lg:flex gap-5 items-center">
			<div class="h-12.5 w-12.5 rounded-full overflow-hidden">
				<img class="w-full h-full object-cover" src="img/tvshop-logo.png" alt="img">
			</div>
			<div class="text-shark">
				<div class="text-base font-medium leading-6">TV Shop</div>
				<div class="text-sm leading-5">110 товаров</div>
			</div>
		</div>
		<div class="group lg:mt-5 relative flex w-40 h-[295px] lg:h-[27.5rem] flex-shrink-0 lg:w-[16.875rem]">
			<!--  favorite icon -->
			<button class="absolute right-3 top-3 z-30 opacity-100 transition ease-in group-hover:opacity-100 lg:right-5 lg:top-5 lg:opacity-0">
				@@if (context.iconHeartFill) {
				<svg class="h-4 w-4 shrink-0 fill-dusty-gray lg:h-5 lg:w-5">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
				</svg>
				} @@if (context.iconHeartStroke) {
				<svg class="h-4 w-4 shrink-0 fill-lavender-purple lg:h-5 lg:w-5">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#heart-solid"></use>
				</svg>
				}
			</button>
			<!-- ./favorite icon -->
		
			<!-- buy button -->
		
			<div class="pointer-events-none absolute -bottom-11 left-0 right-0 z-30 hidden rounded-bl-xle rounded-br-xle bg-white py-2.5 opacity-0 shadow-custom transition ease-in group-hover:pointer-events-auto group-hover:opacity-100 lg:block">
				<div class="absolute inset-0 -top-0.5 h-1 bg-white"></div>
				<div class="flex justify-center">
					<button class="btn-pink h-[2.125rem] w-[11.875rem]">В кошик</button>
				</div>
			</div>
		
			<!-- ./buy button -->
		
			<!-- image -->
			<div class="absolute top-1 z-20 h-[148px] w-full overflow-hidden px-1.5 pb-1 lg:top-2 lg:h-[17.625rem] lg:px-3 lg:pb-2">
				<img src="@@image" alt="" class="h-full w-full rounded-xle object-cover" />
				@@if (context.discount) {
				<div class="absolute left-3 top-3 z-20 rounded-lg bg-pomegranate px-1 py-0.5 text-xs text-white lg:left-4 lg:top-3 lg:text-sm">@@discount</div>
				} @@if (context.slidersBtn) {
				<button class="group/btn absolute left-1 top-[calc(50%-0.25rem)] z-20 flex h-5 w-5 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple lg:left-3 lg:h-7.5 lg:w-7.5">
					<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-left"></use>
					</svg>
				</button>
				<button class="group/btn absolute right-1 top-[calc(50%-0.25rem)] z-20 flex h-5 w-5 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple lg:right-3 lg:h-7.5 lg:w-7.5">
					<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
					</svg>
				</button>
				}
			</div>
			<!-- .image -->
		
			<a class="flex flex-grow flex-col" href="#">
				<!-- card image -->
				<div class="rounded-bl-2lge rounded-br-xle rounded-tl-xle rounded-tr-lge bg-white px-1.5 pb-1 shadow-custom lg:rounded-bl-4xle lg:rounded-br-4xle lg:px-3 lg:pb-5">
					<div class="relative h-[148px] overflow-hidden rounded-xle lg:h-[17.125rem]"></div>
				</div>
				<!-- ./card image -->
		
				<!-- card info -->
				<div class="relative z-10 -mt-1 flex grow flex-col rounded-bl-lge rounded-br-lge rounded-tl-2lge rounded-tr-2lge bg-white px-1 pb-1 pt-1 shadow-custom lg:-mt-4 lg:rounded-bl-xle lg:rounded-br-xle lg:rounded-tl-4xle lg:rounded-tr-4xle lg:px-2.5 lg:py-2">
					<!-- <div class="absolute -top-[1px] left-1/2 h-2.5 w-[90.5%] -translate-x-1/2 bg-white lg:w-[91%] md:w-[86%]"></div> -->
		
					<div class="mt-1 line-clamp-2 h-8 overflow-hidden text-ellipsis text-sm font-medium">@@title</div>
					<div class="mt-1.5 flex items-center">
						<div class="relative flex items-center gap-0.5 lg:gap-3">
							<div class="text-base font-bold lg:text-lg">@@price</div>
							@@if (context.oldPrice) {
							<div class="ml-2 text-sm text-dove-gray line-through decoration-dove-gray lg:ml-0 lg:text-base">@@oldPrice</div>
							}
						</div>
					</div>
		
					<div class="mt-auto flex flex-col">
						<div class="mt-1.5 flex items-center gap-2 lg:justify-between">
							@@if (context.groupPrice) {
		
							<div class="flex-shrink-0 text-xs text-royal-blue lg:text-sm">@@groupPrice</div>
		
							} @@if (context.additionalText) {
							<div class="w-full gap-1 text-center text-xs font-semibold text-pomegranate lg:text-sm">@@additionalText</div>
							}
						</div>
		
						@@if (context.deliveryState) {
						<div class="mt-1 flex items-center justify-center gap-1">
							<div class="text-center text-xs text-limeade lg:text-left lg:text-sm">Готовий до відправки</div>
							<img class="hidden h-3.5 w-3.5 lg:block lg:h-5 lg:w-5" src="img/svg/delivery-car.svg" alt="" />
						</div>
						} @@if (context.onOrder) {
						<div class="mt-1 text-center text-xs text-pomegranate lg:text-sm">Під замовлення 5 днів</div>
						}
		
						<div class="mt-1.5 flex flex-wrap items-center justify-start gap-4 sm:mt-2 lg:mt-1 lg:justify-between lg:gap-0">
							<div class="hidden flex-wrap items-center gap-1 lg:flex">
								<div class="flex items-center">
									<svg class="h-3 w-3 shrink-0 fill-goldenrod lg:h-4 lg:w-4">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
									</svg>
									<svg class="h-3 w-3 shrink-0 fill-goldenrod lg:h-4 lg:w-4">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
									</svg>
									<svg class="h-3 w-3 shrink-0 fill-goldenrod lg:h-4 lg:w-4">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
									</svg>
									<svg class="h-3 w-3 shrink-0 fill-goldenrod lg:h-4 lg:w-4">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
									</svg>
									<svg class="h-3 w-3 shrink-0 fill-goldenrod lg:h-4 lg:w-4">
										<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
									</svg>
								</div>
								<div class="text-xs text-dusty-gray">@@totalScores</div>
							</div>
		
							<button class="btn-primary rounded-emd px-3.5 py-1.5 text-sm lg:hidden">Купити</button>
		
							@@if (context.stateNew) {
		
							<p class="text-sm text-shark xl:pr-4">Новий</p>
		
							} @@if (context.stateUsed) {
		
							<p class="text-sm text-shark xl:pr-4">Б/в</p>
		
							}
						</div>
					</div>
				</div>
				<!-- ./card info -->
			</a>
		</div>
	</div>
</div>
<!-- ./card -->
