<!-- card -->
<div class="group relative flex w-35 flex-shrink-0 sm:w-[16.875rem]">
	<!--  favorite icon -->
	<button class="absolute z-10 transition ease-in opacity-100 right-3 top-3 group-hover:opacity-100 sm:right-5 sm:top-5 lg:opacity-0">
		@@if (context.iconHeartFill) {
		<svg class="w-4 h-4 shrink-0 fill-dusty-gray sm:h-5 sm:w-5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
		</svg>
		} @@if (context.iconHeartStroke) {
		<svg class="w-4 h-4 shrink-0 fill-lavender-purple sm:h-5 sm:w-5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#heart-solid"></use>
		</svg>
		}
	</button>
	<!-- ./favorite icon -->

	<!-- buy button -->
	
	<div class="hidden lg:block absolute z-20  bg-white -bottom-[42px]   py-2.5 shadow-card rounded-br-2lge rounded-bl-2lge opacity-0 left-[1px] right-[1px] transition ease-in group-hover:opacity-100">
		<div class="absolute h-1 inset-0 bg-white -top-0.5"></div>
		<div class="flex justify-center">
			<button class="btn-pink w-[11.875rem] h-[2.125rem] ">В кошик</button>
		</div>
	</div>
	
	<!-- ./buy button -->

	<a class="flex flex-col flex-grow" href="#">
		<!-- card image -->
		<div class="rounded-bl-2lge rounded-br-2lge rounded-tl-2xl rounded-tr-2xl bg-white px-1.5 pb-2.5 pt-1.5 shadow-card sm:rounded-bl-6md sm:rounded-br-6md sm:px-3 sm:py-3">
			<div class="relative aspect-[0.92] overflow-hidden rounded-2xl sm:aspect-[0.89]">
				<img src="@@image" alt="" class="object-cover w-full h-full" />
				@@if (context.discount) {
				<div class="absolute bottom-2 right-2 z-10 rounded-lg bg-pomegranate px-1 py-0.5 text-xs text-white">@@discount</div>
				} @@if (context.slidersBtn) {
				<button class="group/btn absolute top-1/2 flex h-5 w-5 -translate-y-1/2 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple lg:h-7.5 lg:w-7.5">
					<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-left"></use>
					</svg>
				</button>
				<button class="group/btn absolute right-0 top-1/2 flex h-5 w-5 -translate-y-1/2 items-center justify-center rounded-full bg-white/60 transition ease-in hover:bg-lavender-purple lg:h-7.5 lg:w-7.5">
					<svg class="h-2.5 w-2.5 fill-black transition ease-in group-hover/btn:fill-white">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
					</svg>
				</button>
				}
			</div>
		</div>
		<!-- ./card image -->

		<!-- card info -->
		<div class="relative z-10 -mt-2.5 flex grow flex-col break-all rounded-bl-2xl rounded-br-2xl rounded-tl-2lge rounded-tr-2lge border border-dusty-gray bg-white px-1 pb-1 pt-2.5 shadow-custom sm:-mt-3 sm:rounded-tl-6md sm:rounded-tr-6md sm:px-3 sm:py-2.5">
			<div class="absolute -top-[1px] left-1/2 h-2.5 w-[89%] -translate-x-1/2 bg-white sm:w-[91%] md:w-[86%]"></div>

			<div class="mt-1 line-clamp-2 h-8.5 overflow-hidden text-ellipsis text-xs font-medium sm:h-10 sm:text-sm">@@title</div>
			<div class="flex items-center">
				<div class="relative flex items-center gap-0.5 sm:gap-3">
					<div class="text-xs font-bold sm:text-lg">@@price</div>
					@@if (context.oldPrice) {
					<div class="line-through text-ms text-dove-gray decoration-dove-gray sm:text-base">@@oldPrice</div>
					}
				</div>

				@@if (context.additionalText) {
				<div class="ml-auto flex gap-1 text-[0.5625rem] font-semibold text-pomegranate sm:text-[0.9375rem]">@@additionalText</div>
				}
			</div>
			<div class="flex flex-col mt-auto">
				@@if (context.groupPrice) {

					<div class="mt-1.5 text-ms sm:text-sm">@@groupPrice</div>

				} 
				
				@@if (context.deliveryState) {
					<div class="flex items-center justify-center gap-1 mt-1">
						<div class="text-ms text-limeade sm:text-sm lg:text-sm">Готовий до відправки</div>
						<img class="w-3 h-3 sm:w-5 sm:h-5" src="img/svg/delivery-car.svg" alt="" />
					</div>
				} 
				@@if (context.onOrder) {
					<div class="mt-1 text-center text-ms text-pomegranate sm:text-sm lg:text-sm">Під замовлення 5 днів</div>
				}

				<div class="mt-1.5 flex flex-wrap items-center justify-center gap-4 lg:gap-2 sm:mt-2 lg:mt-1.5 lg:justify-between ">
					<div class="flex-wrap items-center hidden gap-1 lg:flex">
						<div class="flex items-center">
							<svg class="w-3 h-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="w-3 h-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="w-3 h-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="w-3 h-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
							<svg class="w-3 h-3 shrink-0 fill-goldenrod sm:h-4 sm:w-4">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#star"></use>
							</svg>
						</div>
						<div class="text-xs text-dove-gray">@@totalScores</div>
					</div>

					<button class="py-1 px-3.5 btn-primary lg:hidden rounded-emd text-ms">Купити</button>

					@@if (context.stateNew) {

						<p class="text-ms xl:pr-4 lg:text-sm">Новий</p>

					} @@if (context.stateUsed) {

					<p class="text-ms xl:pr-4 lg:text-sm">Б/в</p>

					}
				</div>
			</div>
		</div>
		<!-- ./card info -->
	</a>
</div>
<!-- ./card -->
