<!-- category dropdown-menu -->

<div class="category-desktop fixed -top-[0.0625rem] left-0 z-30 hidden h-screen w-screen bg-lavender-purple/10">
	<div class="relative flex max-h-screen max-w-[70rem]">
		<div class="category-desktop-body relative flex border border-dusty-gray bg-white text-shark shadow-custom">
			<button class="category-desktop-close absolute -right-10 top-5">
				<svg class="h-5 w-5">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
				</svg>
			</button>
			<div class="scrollbar-custom max-h-full w-80 overflow-y-auto overflow-x-hidden border border-r-ebb px-2.5 py-[1.875rem] xl:w-[23.125rem] xl:pl-[1.875rem] xl:pr-[3.125rem]">
				<ul class="flex w-[17.5rem] flex-col gap-4 text-sm">
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="1">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#women"></use>
							</svg>
							<span>Жінкам</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="2">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#shoes"></use>
							</svg>
							<span>Взуття</span>
						</a>
					</li>

					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="3">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5">
								<use xlink:href="img/svg/sprites/sprite-category.svg#children-goods2"></use>
							</svg>
							<span>Дитячі товари 2</span>
						</a>
					</li>

					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="4">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#man"></use>
							</svg>
							<span>Чоловікам</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="5">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#for-house2"></use>
							</svg>
							<span>Дім</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="6">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#accessory"></use>
							</svg>
							<span>Аксесуари</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="7">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#toys"></use>
							</svg>
							<span>Іграшки </span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="8">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#homehold"></use>
							</svg>
							<span>Побутова техніка </span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="9">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#help"></use>
							</svg>
							<span>Допомога</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="10">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#sport"></use>
							</svg>
							<span>Спорт та відпочинок</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="11">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#plc-board"></use>
							</svg>

							<span>Обладнання та сировина</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="12">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#instruments"></use>
							</svg>

							<span>Будматеріали та інструменти</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="13">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#fashion"></use>
							</svg>

							<span>Мода та стиль</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="14">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#beauty"></use>
							</svg>

							<span>Краса і здоров’я</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="15">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#children-goods"></use>
							</svg>

							<span>Дитячі товари</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="16">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#building"></use>
							</svg>

							<span>Нерухомість</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="17">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#for-home"></use>
							</svg>

							<span>Мебелі</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="18">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#work"></use>
							</svg>

							<span>Робота</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="19">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#freelance"></use>
							</svg>

							<span>Послуги та фріланс</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="20">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#auto"></use>
							</svg>

							<span>Авто</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="21">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#auto2"></use>
							</svg>

							<span>Автотовари</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="22">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#spare-parts"></use>
							</svg>

							<span>Запчастини для транспорту</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="23">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#animals"></use>
							</svg>

							<span>Тварини</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="24">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#electronics"></use>
							</svg>

							<span>Електроніка</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="25">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#exchange"></use>
							</svg>

							<span>Обмін</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="26">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#for-busines"></use>
							</svg>

							<span>Для бізнесу</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="27">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#hobbies"></use>
							</svg>

							<span>Хобі та розваги</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="28">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-transparent stroke-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#school"></use>
							</svg>

							<span>Школа</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="29">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#books"></use>
							</svg>

							<span>Книги</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="30">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#jewerly"></use>
							</svg>

							<span>Ювелірні вироби</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="31">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#roll-brush"></use>
							</svg>

							<span>Для ремонту</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="32">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#garden"></use>
							</svg>

							<span>Сад та дача</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="33">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#health"></use>
							</svg>

							<span>Здоров’я</span>
						</a>
					</li>
					<li class="category__item rounded-lg px-2.5 py-1.5" data-category="34">
						<a href="#" class="relative flex items-center gap-4">
							<svg class="h-5 w-5 fill-shark">
								<use xlink:href="img/svg/sprites/sprite-category.svg#office-supplies"></use>
							</svg>

							<span>Канцтовари</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="scrollbar-custom hidden max-h-full w-80 overflow-y-auto overflow-x-hidden border border-r-ebb px-2.5 py-[1.875rem] xl:w-[21.875rem] xl:pl-11 xl:pr-[3.375rem]" data-category-level-2="1">
				<p class="text-lg font-semibold">Жінкам</p>
				<ul class="mt-6 flex flex-col gap-4 text-sm">
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="111">
						<a href="#" class="relative flex items-center gap-4">
							<span>Item 1</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="112">
						<a href="#" class="relative flex items-center gap-4">
							<span>Item with submenu</span>
						</a>
					</li>
				</ul>
			</div>
			<div class="scrollbar-custom hidden max-h-full w-80 overflow-y-auto overflow-x-hidden border border-r-ebb px-2.5 py-[1.875rem] xl:w-[21.875rem] xl:pl-11 xl:pr-[3.375rem]" data-category-level-2="3">
				<p class="text-lg font-semibold">Дитячі товари</p>
				<ul class="mt-6 flex flex-col gap-4 text-sm">
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="1">
						<a href="#" class="relative flex items-center gap-4">
							<span>Дитяча електроніка</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="2">
						<a href="#" class="relative flex items-center gap-4">
							<span>Дитячий транспорт</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="3">
						<a href="#" class="relative flex items-center gap-4">
							<span>Для дівчаток</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="4">
						<a href="#" class="relative flex items-center gap-4">
							<span>Для немовлят</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Для хлопчиків</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="6">
						<a href="#" class="relative flex items-center gap-4">
							<span>Конструктори</span>
						</a>
					</li>
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="7">
						<a href="#" class="relative flex items-center gap-4">
							<span>Підгузки</span>
						</a>
					</li>

					<!-- active subcategory -->
					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="8">
						<a href="#" class="relative flex items-center gap-4 pr-2">
							<span>Подарунки дітям</span>
						</a>
					</li>
					<!-- ./active subcategory -->

					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="9">
						<a href="#" class="relative flex items-center gap-4">
							<span>Релігійний одяг </span>
						</a>
					</li>

					<li class="category__submenu-item rounded-lg py-1.5" data-submenu="10">
						<a href="#" class="relative flex items-center gap-4">
							<span>Товари для малюка </span>
						</a>
					</li>
				</ul>
			</div>

			<div class="scrollbar-custom hidden max-h-full w-80 overflow-y-auto overflow-x-hidden px-2.5 py-7.5 xl:w-[27.125rem] xl:px-[3.125rem]" data-category-level-3="8">
				<p class="text-lg font-semibold">Подарунки дітям</p>
				<ul class="mt-6 flex flex-col gap-4 text-sm">
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Іграшки</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Аксесуари</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Для будинку</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Книги та канцтовари</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Косметика та догляд</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Кульки та упаковка</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Листівки та сувеніри</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Посуд</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Смачні подарунки</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Хобі та розваги</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Шкарпетки</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="scrollbar-custom hidden max-h-full w-80 overflow-y-auto overflow-x-hidden px-2.5 py-7.5 xl:w-[27.125rem] xl:px-[3.125rem]" data-category-level-3="112">
				<p class="text-lg font-semibold">Item with submenu</p>
				<ul class="mt-6 flex flex-col gap-4 text-sm">
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Item 1</span>
						</a>
					</li>
					<li class="category__submenu2-item rounded-lg py-1.5">
						<a href="#" class="relative flex items-center gap-4">
							<span>Item 2</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- ./category dropdown-menu -->
