<!-- category dropdown-menu -->
<!-- для активізації прибирати hidden, mxlg:hidden - не трогати -->
<!-- на <body> додати класи overflow-hidden overscroll-none touch-none -->

	<div class="hidden absolute top-3.5 left-0 z-30 lg:@@hidden right-0 ">
		
			<div class="flex bg-white border border-dusty-gray text-shark shadow-custom max-h-[43.75rem] w-full">
				
				<div class="scrollbar-custom max-h-full overflow-y-auto overflow-x-hidden py-[1.875rem] xl:px-7.5 w-1/3 px-2.5 border border-r-ebb">
					<ul class="flex flex-col gap-4 text-sm">
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#women"></use>
								</svg>
								<span>Жінкам</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#shoes"></use>
								</svg>
								<span>Взуття</span>
							</a>
						</li>
						<!-- active category -->
						<li class="rounded-lg bg-lavender-purple px-2.5 py-1.5 text-white">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-category.svg#children-goods2"></use>
								</svg>
								<span>Дитячі товари 2</span>
							</a>
						</li>
						<!-- ./active category -->
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#man"></use>
								</svg>
								<span>Чоловікам</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#for-house2"></use>
								</svg>
								<span>Дім</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#accessory"></use>
								</svg>
								<span>Аксесуари</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#toys"></use>
								</svg>
								<span>Іграшки </span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#homehold"></use>
								</svg>
								<span>Побутова техніка </span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#help"></use>
								</svg>
								<span>Допомога</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#sport"></use>
								</svg>
								<span>Спорт та відпочинок</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#plc-board"></use>
								</svg>
	
								<span>Обладнання та сировина</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#instruments"></use>
								</svg>
	
								<span>Будматеріали та інструменти</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#fashion"></use>
								</svg>
	
								<span>Мода та стиль</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#beauty"></use>
								</svg>
	
								<span>Краса і здоров’я</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#children-goods"></use>
								</svg>
	
								<span>Дитячі товари</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#building"></use>
								</svg>
	
								<span>Нерухомість</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#for-home"></use>
								</svg>
	
								<span>Мебелі</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#work"></use>
								</svg>
	
								<span>Робота</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#freelance"></use>
								</svg>
	
								<span>Послуги та фріланс</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#auto"></use>
								</svg>
	
								<span>Авто</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#auto2"></use>
								</svg>
	
								<span>Автотовари</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#spare-parts"></use>
								</svg>
	
								<span>Запчастини для транспорту</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#animals"></use>
								</svg>
	
								<span>Тварини</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#electronics"></use>
								</svg>
	
								<span>Електроніка</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#exchange"></use>
								</svg>
	
								<span>Обмін</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#for-busines"></use>
								</svg>
	
								<span>Для бізнесу</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#hobbies"></use>
								</svg>
	
								<span>Хобі та розваги</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-transparent stroke-shark">
									<use xlink:href="img/svg/sprites/sprite-category.svg#school"></use>
								</svg>
	
								<span>Школа</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#books"></use>
								</svg>
	
								<span>Книги</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#jewerly"></use>
								</svg>
	
								<span>Ювелірні вироби</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#roll-brush"></use>
								</svg>
	
								<span>Для ремонту</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#garden"></use>
								</svg>
	
								<span>Сад та дача</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#health"></use>
								</svg>
	
								<span>Здоров’я</span>
							</a>
						</li>
						<li class="rounded-lg px-2.5 py-1.5">
							<a href="#" class="flex items-center gap-4">
								<svg class="w-5 h-5 fill-shark flex-shrink-0">
									<use xlink:href="img/svg/sprites/sprite-category.svg#office-supplies"></use>
								</svg>
	
								<span>Канцтовари</span>
							</a>
						</li>
					</ul>
				</div>
				
				<div class="scrollbar-custom max-h-full overflow-y-auto overflow-x-hidden py-[1.875rem] xl:px-7.5 w-1/3 px-2.5 border border-r-ebb">
					<p class="text-lg font-semibold">Дитячі товари</p>
					<ul class="flex flex-col gap-4 mt-6 text-sm">
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Дитяча електроніка</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Дитячий транспорт</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Для дівчаток</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Для немовлят</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Для хлопчиків</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Конструктори</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Підгузки</span>
							</a>
						</li>
						
	
						<!-- active subcategory -->
						<li class="active-subcategory rounded-lg py-1.5">
							<a href="#" class="relative flex items-center gap-4 pr-2">
								<span class="font-semibold">Подарунки дітям</span>
								
								<svg class="h-2.5 xl:h-3.5 w-2.5 xl:w-3.5 absolute -right-2 lx:-right-3.5 top-1/2 -translate-y-1/2">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-right"></use>
								</svg>
							</a>
						</li>
						<!-- ./active subcategory -->
	
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Релігійний одяг </span>
							</a>
						</li>
	
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Товари для малюка </span>
							</a>
						</li>
	
						
					</ul>
				</div>
				<div class="scrollbar-custom max-h-full overflow-y-auto overflow-x-hidden py-[1.875rem] xl:px-7.5 w-1/3 px-2.5 border border-r-ebb">
					<p class="text-lg font-semibold">Подарунки дітям</p>
					<ul class="flex flex-col gap-4 mt-6 text-sm">
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Іграшки</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Аксесуари</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Для будинку</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Книги та канцтовари</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Косметика та догляд</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Кульки та упаковка</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Листівки та сувеніри</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Посуд</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Смачні подарунки</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Хобі та розваги</span>
							</a>
						</li>
						<li class="rounded-lg py-1.5">
							<a href="#" class="flex items-center gap-4">
								<span>Шкарпетки</span>
							</a>
						</li>
						
					</ul>
				</div>
			</div>
		
	</div>
	<!-- ./category dropdown-menu -->
	