<div class="w-full rounded-lge bg-white px-2.5 pb-3 text-shark shadow-md border border-lavender-purple/50">
	<div class="relative w-full py-2 flex items-center justify-between">
		<div class="line-clamp-1 text-ellipsis pr-5 text-left text-sm leading-5 text-dusty-gray">Габаритні розміри</div>
		<svg class="h-1.5 w-3 fill-dusty-gray rotate-180">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
		</svg>
	</div>

	<label class="flex flex-col pt-1">
		<span class="text-sm">Ширина, см</span>
		<input type="text" placeholder="Ширина, см" class="mt-2.5 w-full rounded-lge border border-dusty-gray/50 bg-white px-4 py-2.5 text-xs ring-0 transition ease-in placeholder:text-dusty-gray focus:border-lavender-purple focus:ring-0" />
	</label>
	<label class="mt-3.5 flex flex-col">
		<span class="text-sm">Висота, см</span>
		<input type="text" placeholder="Висота, см" class="mt-2.5 w-full rounded-lge border border-dusty-gray/50 bg-white px-4 py-2.5 text-xs ring-0 transition ease-in placeholder:text-dusty-gray focus:border-lavender-purple focus:ring-0" />
	</label>
	<label class="mt-3.5 flex flex-col">
		<span class="text-sm">Довжина, см</span>
		<input type="text" placeholder="Довжина, см" class="mt-2.5 w-full rounded-lge border border-dusty-gray/50 bg-white px-4 py-2.5 text-xs ring-0 transition ease-in placeholder:text-dusty-gray focus:border-lavender-purple focus:ring-0" />
	</label>
	<label class="mt-3.5 flex flex-col">
		<span class="text-sm">Вага, кг</span>
		<input type="text" placeholder="Вага, кг" class="mt-2.5 w-full rounded-lge border border-dusty-gray/50 bg-white px-4 py-2.5 text-xs ring-0 transition ease-in placeholder:text-dusty-gray focus:border-lavender-purple focus:ring-0" />
	</label>
</div>
