<!-- footer -->
<footer class="sticky bg-tundora pb-[0.9375rem] pt-[1.5625rem] leading-[121%] text-white lg:py-[3.125rem]">
	<div class="container">
		<div class="relative">
			<div class="flex flex-col md:flex-row">
				<div class="flex items-center justify-between pb-5 md:mr-12 md:pb-20 lg:mr-48 md:items-start">
					<a href="#" class="link-primary drop-shadow-text md:text-[1.875rem] font-semibold hover:text-white">VamBeri</a>
					<button class="flex h-[2.1875rem] w-[2.1875rem] items-center justify-center rounded-full border border-lavender-purple md:hidden">
						<svg class="w-4 h-4 transition ease-in fill-white">
							<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-up"></use>
						</svg>
					</button>
				</div>

				<div class="flex w-full flex-col justify-between gap-[0.9375rem] md:flex-row lg:w-auto lg:gap-20">
					<!-- для відкриття в мобільному  -->
					<!-- при кліку на заголовок h3 -->
					<!-- на button вішаємо клас rotate-180 -->
					<!-- на список із меню ul прибираємо клас hidden -->
					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-[0.875rem] font-semibold md:text-[1.25rem]">Покупцям</h3>
							<button class="transition ease-linear md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="md:mt-[1.875rem] mt-2.5 text-[0.75rem] hidden md:block md:max-w-[14.5rem] md:text-[1rem]">
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Як зробити заказ</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Способи оплати</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Доставка</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Повернення товару</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Повернення коштів</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Правила продажу</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Правила користування торговим майданчиком</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Запитання та відповідіз</a>
							</li>
						</ul>
					</div>
					
					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-[0.875rem] font-semibold md:text-[1.25rem]">Партненрам</h3>
							<button class="md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="md:mt-[1.875rem] mt-2.5 text-[0.75rem] hidden md:block md:text-[1rem]">
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Продавайте на Vamberi</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Кур'єрам</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Перевізникам</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Партнерський пункт видачі</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Франшизний пункт видачі</a>
							</li>
						</ul>
					</div>
					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-[1.0625rem] font-semibold md:text-[1.25rem]">Компанія</h3>
							<button class="md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="md:mt-[1.875rem] mt-2.5 text-[0.75rem] hidden md:block md:text-[1rem]">
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Про нас</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Реквізити</a>
							</li>
							<li class="md:mb-[0.9375rem] mb-1.5">
								<a href="#" class="link-white">Прес-центр</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Контакти</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="static bottom-0 left-0 mt-[1.4375rem] flex flex-col gap-[0.9375rem] pb-10 md:pb-0 lg:absolute">
				<div class="flex items-center gap-3.5">
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/instagram.svg" alt="instagram" />
					</a>
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/facebook.svg" alt="fb" jbzhyrlos="" />
					</a>
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/youtube.svg" alt="youtube" />
					</a>
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/telegram.svg" alt="telegram" />
					</a>
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/twitter.svg" alt="twitter" jbzhyrlos="" />
					</a>
					<a href="#" class="">
						<img class="w-6 h-6" src="img/svg/socials/viber.svg" alt="viber" />
					</a>
				</div>
				<a class="text-[0.875rem] lg:text-base" href="amberi.sms@gmail.com"> vamberi.sms@gmail.com </a>
			</div>
			<!-- copyrights -->
			<div class="absolute bottom-0 right-0 z-10 flex-col items-end justify-end hidden h-full md:flex xl:items-center">
				<button class="group flex h-[2.1875rem] w-[2.1875rem] items-center justify-center rounded-full border border-lavender-purple transition ease-in hover:border-white lg:h-[3.75rem] lg:w-[3.75rem]">
					<svg class="w-4 h-4 transition ease-in fill-white group-hover:fill-lavender-purple lg:h-6 lg:w-6">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-up"></use>
					</svg>
				</button>
				<p class="mt-auto font-inter text-xs md:mt-[2.1875rem] lg:text-base">© 2022 Доска объявлений vamberi.com.ua</p>
			</div>
			<p class="text-xs text-center font-inter md:hidden">© 2022 Доска объявлений vamberi.com.ua</p>
			<!-- ./copyrights -->
		</div>
	</div>
</footer>
<!-- ./footer -->
