<!-- footer -->
<footer class="sticky bg-dark text-white">
	<div class="container">
		<div class="h-full w-full px-5">
			<div class="hidden h-full justify-between gap-x-10 pb-12 pt-14 lg:flex">
				<div class="flex max-w-[25%] flex-col justify-between">
					<div>
						У вас есть свой бизнес или вы хотите его начать, но не знаете как,
						<span class="text-2xl font-semibold text-accent"> VamBeri </span>
						вам в этом поможет
					</div>
					<a class="my-5" href="http://fil.vamberi.com.ua/ua/account/ads/create">
						<button class="flex items-center rounded-[20px] bg-accent px-5 py-3">
							<div class="text-sm text-white">Создать онлайн магазин</div>
						</button>
					</a>
					<div>
						<div class="flex items-center space-x-2.5">
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/inst.svg" alt="instagram" />
							</a>
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/facebook.svg" alt="fb" jbzhyrlos="" />
							</a>
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/youtube.svg" alt="youtube" />
							</a>
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/telegram.svg" alt="telegram" />
							</a>
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/twitter.svg" alt="twitter" jbzhyrlos="" />
							</a>
							<a href="#" class="">
								<img class="h-5 w-5" src="/img/viber.svg" alt="viber" />
							</a>
						</div>
						<a class="mt-2 text-xs lg:text-base" href="amberi.sms@gmail.com"> vamberi.sms@gmail.com </a>
					</div>
				</div>
				<div class="space-y-2.5">
					<div>
						<a href="http://fil.vamberi.com.ua/ua/blog">Блог</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/o-nas">О нас</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/kontakty">Контакты</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/bezopasnaya-sdelka">Безопасная сделка</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/rules">Правила подачи объявлений</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/predlozheniya-po-rabote-sayta">Предложения для улучшения сайта</a>
					</div>
				</div>
				<div class="space-y-2.5">
					<div>
						<a href="http://fil.vamberi.com.ua/ua/politiki-konfidencialnosti">Политика конфиденциальности</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/dogovor-oferta">Договор-оферта</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/politika-cookie">Политика использования файлов cookie</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/polzovatelskoe-soglashenie">Пользовательское соглашение</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/prohibited">Запрещенные к публикации товары и услуги</a>
					</div>
					<div>
						<a href="http://fil.vamberi.com.ua/ua/dropshipping">Дропшиппинг</a>
					</div>
				</div>
				<div class="flex flex-col items-center justify-between">
					<a href="#app" class="flex h-[60px] w-[60px] items-center justify-center rounded-full border border-accent"><img src="/img/chevron-up.svg" alt="" /></a>
					<div class="">© 2022 Доска объявлений vamberi.com.ua</div>
				</div>
			</div>
			<div class="flex flex-col justify-between gap-y-6 pb-2 pt-4 lg:hidden">
				<div class="flex items-center justify-between">
					<div class="text-sm text-accent">VamBeri</div>
					<a href="#app" class="flex h-[30px] w-[30px] items-center justify-center rounded-full border border-accent"><img src="/img/footer-btn.svg" alt="" /></a>
				</div>
				<div class="flex items-end justify-between gap-2 text-xs mxmd:flex-col mxmd:items-start">
					<div class="space-y-1">
						<div>
							<a href="http://fil.vamberi.com.ua/ua/blog">Блог</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/o-nas">О нас</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/kontakty">Контакты</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/bezopasnaya-sdelka">Безопасная сделка</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/rules">Правила подачи объявлений</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/predlozheniya-po-rabote-sayta">Предложения для улучшения сайта</a>
						</div>
					</div>
					<div class="space-y-1">
						<div>
							<a href="http://fil.vamberi.com.ua/ua/politiki-konfidencialnosti">Политика конфиденциальности</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/dogovor-oferta">Договор-оферта</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/politika-cookie">Политика использования файлов cookie</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/polzovatelskoe-soglashenie">Пользовательское соглашение</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/prohibited">Запрещенные к публикации товары и услуги</a>
						</div>
						<div>
							<a href="http://fil.vamberi.com.ua/ua/dropshipping">Дропшиппинг</a>
						</div>
					</div>
				</div>
				<div class="flex items-center justify-between flex-wrap gap-2">
					<div class="flex gap-x-1">
						<a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/inst.svg" alt="instagram" /></a><a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/facebook.svg" alt="fb" jbzhyrlos="" /></a><a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/youtube.svg" alt="youtube" /></a><a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/telegram.svg" alt="telegram" /></a><a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/twitter.svg" alt="twitter" jbzhyrlos="" /></a><a href="#" class=""><img class="h-[15px] w-[15px]" src="/img/viber.svg" alt="viber" /></a>
					</div>
					<a class="text-xs" href="amberi.sms@gmail.com">vamberi.sms@gmail.com</a>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- ./footer -->
