<!-- footer -->
<footer class="sticky bg-tundora py-6 text-white lg:py-12.5">
	<div class="container">
		<div class="relative">
			<div class="flex flex-col md:flex-row">
				<div class="flex items-center justify-between pb-5 md:mr-12 md:items-start md:pb-20 lg:mr-48">
					<a href="#" class="link-primary drop-shadow-text font-semibold hover:text-white md:text-3xl">VamBeri</a>
					<button class="flex h-9 w-9 items-center justify-center rounded-full border border-lavender-purple md:hidden">
						<svg class="h-4 w-4 fill-white transition ease-in">
							<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-up"></use>
						</svg>
					</button>
				</div>

				<div class="flex w-full flex-col justify-between gap-4 md:flex-row lg:w-auto lg:gap-20">
					<!-- для відкриття в мобільному  -->
					<!-- при кліку на заголовок h3 -->
					<!-- на button вішаємо клас rotate-180 -->
					<!-- на список із меню ul прибираємо клас hidden -->
					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-sm font-semibold md:text-xl">Покупцям</h3>
							<button class="transition ease-linear md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="mt-2.5 hidden text-xs md:mt-7.5 md:block md:max-w-[14.5rem] md:text-base">
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Як зробити заказ</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Способи оплати</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Доставка</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Повернення товару</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Повернення коштів</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Правила продажу</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Правила користування торговим майданчиком</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Запитання та відповідіз</a>
							</li>
						</ul>
					</div>

					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-sm font-semibold md:text-xl">Партненрам</h3>
							<button class="md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="mt-2.5 hidden text-xs md:mt-7.5 md:block md:text-base">
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Продавайте на Vamberi</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Кур'єрам</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Перевізникам</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Партнерський пункт видачі</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Франшизний пункт видачі</a>
							</li>
						</ul>
					</div>
					<div>
						<div class="flex items-center gap-2">
							<h3 class="text-base font-semibold md:text-xl">Компанія</h3>
							<button class="md:hidden">
								<svg class="h-2.5 w-2.5 fill-white">
									<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
								</svg>
							</button>
						</div>
						<ul class="mt-2.5 hidden text-xs md:mt-7.5 md:block md:text-base">
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Про нас</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Реквізити</a>
							</li>
							<li class="mb-1.5 md:mb-4">
								<a href="#" class="link-white">Прес-центр</a>
							</li>
							<li class="mb-0">
								<a href="#" class="link-white">Контакти</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="static bottom-0 left-0 mt-6 flex flex-col gap-4 pb-10 md:pb-0 lg:absolute">
				<div class="flex items-center gap-3.5">
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/instagram.svg" alt="instagram" />
					</a>
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/facebook.svg" alt="fb" jbzhyrlos="" />
					</a>
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/youtube.svg" alt="youtube" />
					</a>
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/telegram.svg" alt="telegram" />
					</a>
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/twitter.svg" alt="twitter" jbzhyrlos="" />
					</a>
					<a href="#" class="">
						<img class="h-6 w-6" src="img/svg/socials/viber.svg" alt="viber" />
					</a>
				</div>
				<a class="text-sm lg:text-base" href="amberi.sms@gmail.com"> vamberi.sms@gmail.com </a>
			</div>
			<!-- copyrights -->
			<div class="absolute bottom-0 right-0 z-10 hidden h-full flex-col items-end justify-end md:flex xl:items-center">
				<button class="group flex h-9 w-9 items-center justify-center rounded-full border border-lavender-purple transition ease-in hover:border-white lg:h-15 lg:w-15">
					<svg class="h-4 w-4 fill-white transition ease-in group-hover:fill-lavender-purple lg:h-6 lg:w-6">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-up"></use>
					</svg>
				</button>
				<p class="mt-auto font-inter text-xs md:mt-9 lg:text-base">© 2022 Доска объявлений vamberi.com.ua</p>
			</div>
			<p class="text-center font-inter text-xs md:hidden">© 2022 Доска объявлений vamberi.com.ua</p>
			<!-- ./copyrights -->
		</div>
	</div>
</footer>
<!-- ./footer -->

<!--  -->
<div class="hidden rotate-x-180"></div>
<!--  -->

<!-- scripts -->
<script src="js/app.js"></script>
<!-- ./scripts -->