<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="img/svg/ua.svg" type="image/x-icon" />

<!-- <link rel="stylesheet" type="text/css" href="./css/jquery-ui.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="./css/fancybox.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="./css/select2.min.css" /> -->
<!-- <link rel="stylesheet" type="text/css" href="./css/swiper.min.css" /> -->

<!-- cdn -->
<link rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
<link rel="stylesheet" media="screen" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" />

<link rel="stylesheet" media="screen" type="text/css" href="./css/style.css" />
<title>@@title</title>

