<!-- info banner  -->
<div class="bg-gradient-pink2 relative mb-6 mt-0 flex min-h-[8.5rem] flex-grow flex-col rounded-lge px-2.5 py-5 lg:mb-9 lg:mt-0 lg:min-h-[11.25rem] lg:px-3.5">
	<button class="absolute right-2 top-2 z-10">
		<svg class="h-4 w-4 fill-tundora">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#close"></use>
		</svg>
	</button>
	<div class="text-xs font-medium text-shark lg:text-lg">Не дайте себе обдурити!</div>
	<div class="mb-1.5 mt-4 pr-24 text-xs text-tundora lg:mt-2.5 lg:pr-32 lg:text-sm">Дізнайтеся, як уберегти свій гаманець від зловмисників</div>
	<a href="#" class="mt-auto text-xs font-medium text-royal-blue lg:text-sm">Поради з безпеки</a>
	<img src="img/icon005.png" alt="icon" class="absolute bottom-0 right-0 h-[7.125rem] w-[7.8125rem] lg:h-[10.625rem] lg:w-[11.625rem]" style="float: right" />
</div>
<!-- ./info banner  -->
