<!-- message block -->
<div class="mt-2.5 w-full rounded-lge border border-lavender-purple bg-white p-2.5 lg:p-5">
	<div class="h-20 w-full lg:h-auto">
		<div class="flex h-full w-full">
			<div class="relative flex w-full flex-col gap-2 fill-lavender-purple lg:flex-row lg:items-center">
				<div class="flex-grow lg:px-10">
					<textarea class="h-full w-full resize-none border-0 p-0 align-bottom text-sm ring-0 placeholder:text-sm placeholder:text-dusty-gray focus:ring-0 lg:h-5" placeholder="Ваше повідомлення..."></textarea>
				</div>
				<div class="z-10 flex justify-between">
					<div class="flex items-center gap-4.5">
						<button class="hidden lg:absolute lg:left-0 lg:top-1/2 lg:block lg:-translate-y-1/2">
							<svg class="h-4 w-4 flex-shrink-0 fill-lavender-purple lg:h-8 lg:w-8">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#message"></use>
							</svg>
						</button>
						<button class="lg:hidden">
							<svg class="h-5.5 w-5.5 fill-lavender-purple">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#image"></use>
							</svg>
						</button>
						<button class="lg:hidden">
							<svg class="h-5.5 w-5.5 fill-lavender-purple">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#photo"></use>
							</svg>
						</button>
						<button class="lg:hidden">
							<svg class="h-5.5 w-5.5 fill-lavender-purple">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#attachment"></use>
							</svg>
						</button>
					</div>
					<button class="lg:absolute lg:right-0 lg:top-1/2 lg:-translate-y-1/2">
						<svg class="h-5.5 w-5.5 flex-shrink-0 fill-lavender-purple lg:h-6 lg:w-6">
							<use xlink:href="img/svg/sprites/sprite-icons.svg#message-send"></use>
						</svg>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ./message block -->




