<!-- row open-->
<div class="mt-6 flex flex-col items-start gap-3.5 sm:flex-row">
	<label class="flex cursor-pointer items-center gap-3.5">
		<div class="relative flex flex-shrink-0 items-center justify-center">
			<input type="checkbox" name="" class="peer/all hidden" checked />
			<div class="flex h-6 w-6 items-center justify-center rounded-md border border-shark transition ease-in peer-checked/all:border-limeade peer-checked/all:bg-limeade"></div>
			<svg class="absolute left-1/2 top-1/2 h-4 w-4 -translate-x-1/2 -translate-y-1/2 fill-white opacity-0 transition ease-in peer-checked/all:opacity-100">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#checker"></use>
			</svg>
		</div>
	</label>

	<div class="relative flex w-full flex-col rounded-2lge bg-white px-2.5 pb-[50px] pt-4 text-sm text-shark sm:flex-row sm:gap-5 sm:rounded-lge sm:p-3.5">
		<div class="order-1 flex gap-1.5 sm:block">
			<div class="aspect-video w-[54%] flex-shrink-0 overflow-hidden rounded-lge sm:h-[6.0625rem] sm:w-[11.375rem]">
				<img class="h-full w-full object-cover" src="img/goods-001.jpg" alt="" />
			</div>

			<div class="flex flex-col gap-2 sm:hidden">
				<p class="text-xs">Роздріб: <span class="font-medium">200 грн</span></p>

				<p class="text-xs">
					Опт: <span class="font-medium">7,500 грн <b class="text-xs font-normal">от 5 шт.</b></span>
				</p>
				<p class="text-xs">Знижка <span class="text-sm font-medium text-deep-blush">10%</span></p>
			</div>
		</div>

		<div class="order-3 mt-3 flex flex-shrink-0 gap-5 sm:order-2 sm:mt-0 sm:w-[10.625rem] sm:flex-col sm:gap-0">
			<div class="w-[71px] flex-shrink-0 text-xs font-medium sm:hidden">Назва:</div>
			<div class="line-clamp-3 text-ellipsis text-xs font-medium sm:text-sm">LED насадка на кран TVOOO172 400</div>
			<div class="mt-auto hidden sm:flex">
				<div class="rounded-lge border border-lavender-purple px-2.5 py-1.5">ID: 58464852</div>
			</div>
		</div>

		<div class="order-6 mt-3 flex-shrink-0 sm:order-3 sm:mt-0 sm:w-[6.25rem]">
			<div class="flex gap-7.5 sm:justify-center sm:gap-0">
				<div class="flex w-full items-center justify-center gap-0.5 rounded-lge border border-lavender-purple px-2.5 py-1.5 sm:w-auto sm:gap-0">
					<div class="text-xs sm:text-sm">Код <span class="font-medium sm:font-normal">1198</span></div>
					<div class="flex flex-col gap-0.5">
						<button class="cursor-pointer">
							<svg class="h-1 w-2">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#triangle-up"></use>
							</svg>
						</button>
						<button class="cursor-pointer">
							<svg class="h-1 w-2">
								<use xlink:href="img/svg/sprites/sprite-icons.svg#triangle-down"></use>
							</svg>
						</button>
					</div>
				</div>

				<div class="w-full rounded-lge border border-lavender-purple px-2.5 py-1.5 sm:hidden sm:w-auto">
					<div class="text-center text-xs">ID: 58464852</div>
				</div>
			</div>
		</div>

		<div class="order-2 mt-6 flex flex-shrink-0 items-center gap-5 sm:order-4 sm:mt-0 sm:w-[8.125rem] sm:flex-col sm:gap-0">
			<div class="w-[71px] text-xs font-medium sm:hidden">Статус:</div>
			<div class="w-[94px] rounded-lge border border-cornflower-blue px-2.5 py-1.5 text-center text-ms text-cornflower-blue sm:min-w-[8.125rem] sm:text-sm">На модераціїї</div>
		</div>

		<div class="order-4 mt-3 flex flex-shrink-0 items-center gap-5 text-center text-tundora sm:order-5 sm:mt-0 sm:w-[6.25rem] sm:items-start sm:gap-0">
			<div class="w-[71px] text-xs font-medium sm:hidden">Категорія::</div>
			<div class="">Меблі ЛОФТ</div>
		</div>

		<div class="order-6 hidden w-[6.25rem] flex-shrink-0 text-center text-tundora sm:block">04.07.2023</div>

		<div class="order-7 hidden w-[8.125rem] flex-shrink-0 flex-col justify-between sm:flex">
			<div class="flex justify-center gap-2">
				<p>Роздріб</p>
				<p class="font-medium">10 200</p>
			</div>
			<div class="flex justify-center gap-2">
				<p>Опт</p>
				<p class="font-medium">10 200</p>
			</div>
			<div class="flex items-center justify-center gap-2">
				<p>Знижка</p>
				<p class="text-lg font-medium text-deep-blush">10%</p>
			</div>
		</div>

		<!-- statistics -->

		<div class="order-5 mt-3 flex flex-shrink-0 sm:order-8 sm:mt-0 sm:w-[6.25rem] sm:flex-col sm:justify-between">
			<div class="mr-5 w-[71px] text-xs font-medium sm:hidden">Статистика::</div>
			<div class="mr-4 flex gap-1 sm:mr-0 sm:gap-2.5">
				<svg class="h-4 w-4 fill-dove-gray sm:h-5 sm:w-5">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#eye"></use>
				</svg>
				<p class="min-w-[1.25rem] text-center font-medium">54</p>
			</div>
			<div class="mr-4 flex gap-1 sm:mr-0 sm:gap-2.5">
				<svg class="h-5 w-5 fill-dove-gray">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#cart2"></use>
				</svg>
				<p class="min-w-[1.25rem] text-center font-medium">41</p>
			</div>
			<div class="flex gap-1 sm:gap-2.5">
				<svg class="h-5 w-5 fill-dove-gray">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
				</svg>
				<p class="min-w-[1.25rem] text-center font-medium">0</p>
			</div>
		</div>
		<!-- statistics -->

		<!-- actions -->
		<div class="order-9 mt-5 flex flex-shrink-0 flex-col items-center sm:mt-0 sm:w-[12.5rem]">
			<div class="relative w-full sm:w-[11.875rem]">
				<!-- open dropdown -->
				<!-- rounded-br-none rounded-bl-none border-b-0 -->
				<!-- svg add rotate-180 -->
				<button class="trasition relative z-10 flex h-10 w-full items-center justify-between rounded-lge border border-lavender-purple/50 bg-white px-3.5 py-2 text-left text-xs transition ease-in sm:h-auto sm:text-sm" aria-labeledby="filter-action-1" aria-controls="filter-action-1" type="button" aria-haspopup="listbox" aria-expanded="true" data-dropdown-open-state="false">
					<span class="line-clamp-1 text-ellipsis pr-4">Дія</span>
					<svg class="trasition h-3 w-3 ease-in">
						<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
					</svg>
				</button>

				<!-- dropdown -->

				<ul class="absolute left-0 right-0 z-30 flex hidden w-full flex-col gap-3.5 rounded-bl-lge rounded-br-lge border border-t-0 border-b-lavender-purple/50 border-l-lavender-purple/50 border-r-lavender-purple/50 bg-white px-3.5 pb-2.5 pt-1.5" role="listbox" aria-labelledby="filter-action-1" aria-orientation="vertical" id="filter-action-1" tabindex="0" data-dropdown-open-state="false">
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Редагувати</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Копіювати</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Приховати</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Додати у чернетку</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs font-bold text-lavender-purple transition ease-in hover:text-purple-800">Додати знижку</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Додати на вітрину</span>
					</li>
					<li role="option" tabindex="-1" aria-selected="false" class="cursor-pointer">
						<span class="flex text-xs text-shark transition ease-in hover:text-purple-800">Видалити</span>
					</li>
				</ul>
			</div>

			<button class="btn-pink mt-5 h-10 w-full sm:mt-auto sm:h-9">Продати швидше</button>
		</div>
		<!-- ./action -->

		<!-- mobile view more -->
		<button class="absolute bottom-4.5 left-1/2 -translate-x-1/2 sm:hidden">
			<svg class="h-4 w-4 rotate-180 transition ease-in">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
			</svg>
		</button>
		<!-- mobile view more -->
	</div>
</div>
<!-- ./row open -->