<!-- pagination -->
<div class="page-pagination flex items-center gap-2 text-lavender-purple">
	<ul class="flex gap-0.5">
		<li class="page-pagination__item active" >
			<a href="#" class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">1</a>
		</li>
		<li class="page-pagination__item ">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">2</a>
		</li>
		<li class="page-pagination__item">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">3</a>
		</li>
		<li class="page-pagination__item">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">4</a>
		</li>
		<li class="page-pagination__item">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">5</a>
		</li>
		<li class="page-pagination__item">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">6</a>
		</li>
		<li class="page-pagination__item">
			<a href="#"  class="flex h-7 w-7 items-center justify-center hover:text-purple-800 transition ease-in">7</a>
		</li>
	</ul>
	<p class="flex h-7 w-7 items-center justify-center">...</p>
	<a href="#" class="group flex items-center gap-2 text-base text-lavender-purple">
		<span class="hidden transition ease-in group-hover:text-purple-800 lg:block">Наступна сторінка</span>
		<svg class="h-4 w-5 fill-transparent stroke-lavender-purple transition-all ease-in group-hover:translate-x-1 lg:h-5 lg:w-5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#arrow-right"></use>
		</svg>
	</a>
</div>
<!-- ./pagination -->
