<!-- panel seller v2 -->
<div class="flex flex-col gap-5 lg:flex-row-reverse">
	<div class="flex flex-shrink-0 flex-grow flex-col items-center rounded-lge bg-white p-3.5 text-tundora lg:min-w-[21.25rem] lg:p-5.5">
		<svg class="h-20 w-20 lg:h-[6.25rem] lg:w-[6.25rem]">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#seller-office"></use>
		</svg>
		<div class="mt-3.5 text-base leading-7"><span class="text-lg font-semibold text-shark">Продавець:</span> Софія Смірнова</div>
		<div class="mt-2 text-sm leading-5">На сайті Vamberi з 10.09.2022</div>
		<div class="mt-2 text-sm leading-5"><span class="font-medium">0</span> товарів</div>

		<button class="btn-primary mt-4.5 flex h-11 lg:h-9 lg:min-w-[13.75rem] min-w-[18.125rem] items-center justify-center">Підписатися</button>
	</div>
	<div class="h-[7.375rem] overflow-hidden rounded-lge lw:h-[9.375rem] md:h-[18.75rem] lg:w-3/4">
		<img src="img/panel-seller-v2-image.jpg" class="h-full w-full object-cover" alt="img" />
	</div>
</div>
<!-- ./panel seller v2 -->
