<!-- mob search -->
<div class="relative trasition flex h-9 w-full items-center justify-between gap-4 rounded-lge border border-lavender-purple/50 bg-white py-1 pl-3 pr-1.5 text-sm transition ease-in">
	<input type="text" class="search-field flex-grow border-0 p-0 text-xs placeholder-dusty-gray ring-0 focus:ring-0" placeholder="@@placeholder" />
	<div class="autocomplete-block scrollbar-custom absolute left-0 top-[calc(100%+0.5rem)] z-50 max-h-80 w-full overflow-y-auto overflow-x-hidden rounded-lge bg-white shadow-md"></div>
	<button class="btn-primary flex flex-shrink-0 items-center gap-2.5 rounded-lge px-2.5 py-1 text-sm">
		<span>Знайти</span>
		<svg class="h-3 w-3 flex-shrink-0 fill-white">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#search"></use>
		</svg>
	</button>
</div>
<!-- ./mob search -->