<!-- mob search -->
<div class="trasition flex h-9 w-full items-center justify-between gap-4 rounded-lge border border-lavender-purple/50 bg-white py-1 pl-3 pr-1.5 text-sm transition ease-in">
	<input type="text" class="flex-grow border-0 p-0 text-xs placeholder-dusty-gray ring-0 focus:ring-0" placeholder="@@placeholder" />
	<button class="btn-primary flex flex-shrink-0 items-center gap-2.5 rounded-lge px-2.5 py-1 text-sm">
		<span>Знайти</span>
		<svg class="h-3 w-3 flex-shrink-0 fill-white">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#search"></use>
		</svg>
	</button>
</div>
<!-- ./mob search -->

<!-- category dropdown -->
<button aria-label="Обрати категорію" class="group mr-4 flex h-12.5 w-full flex-shrink-0 items-center rounded-lge bg-white px-2.5 py-1.5">
	<div class="flex items-center gap-3.5">
		<div class="btn-primary flex h-10 w-10 flex-shrink-0 items-center justify-center rounded-lg">
			<svg class="h-5 w-5 fill-white">
				<use xlink:href="img/svg/sprites/sprite-icons.svg#category"></use>
			</svg>
		</div>
		<span class="text-xs">Обрати категорію</span>
	</div>
	<div class="ml-auto">
		<svg class="h-2.5 w-2.5">
			<use xlink:href="img/svg/sprites/sprite-icons.svg#chevron-down"></use>
		</svg>
	</div>
</button>
<!-- ./category dropdown -->