<!-- sticky menu -->
<div class="hidden sticky inset-x-0 bottom-0 z-20 bg-white pb-1 pt-1.5 mxlg:block">
	<div class="container">
		<div class="flex items-center justify-between gap-x-3">
			<a class="shrink-0" href="http://w2.vamberi.com.ua/ua"
				><div class="flex shrink-0 flex-col items-center">
					<img src="/img/home.svg" alt="" />
					<div class="text-dark text-xs">Головна</div>
				</div>
			</a>
			<a class="shrink-0" href="http://w2.vamberi.com.ua/ua/account/ads/create"
				><div class="flex shrink-0 flex-col items-center">
					<img src="/img/plus.svg" alt="" />
					<div class="text-dark text-xs">Подати</div>
				</div>
			</a>
			<a class="shrink-0" href="http://w2.vamberi.com.ua/ua/account"
				><div class="flex shrink-0 flex-col items-center">
					<img src="/img/profile.svg" alt="" />
					<div class="text-dark text-xs">Профіль</div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- ./sticky menu -->