<!-- sticky menu -->

<div class="sticky inset-x-0 bottom-0 z-50 h-12.5 bg-white px-4 pb-1 pt-1.5 shadow-sticky md:px-5 lg:hidden" id="sticky">
	<div class="flex items-center justify-between gap-x-3">
		<a class="shrink-0" href="http://fil.vamberi.com.ua/ua">
			<div class="flex shrink-0 flex-col items-center gap-1">
				<svg class="h-5 w-5 fill-shark">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#home"></use>
				</svg>
				<div class="text-xs text-shark">Головна</div>
			</div>
		</a>
		<a class="shrink-0" href="http://fil.vamberi.com.ua/ua/account/favorites">
			<div class="flex shrink-0 flex-col items-center gap-1">
				<svg class="h-5 w-5 fill-shark">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#heart"></use>
				</svg>
				<div class="text-xs text-shark">Вибране</div>
			</div>
		</a>
		<a class="shrink-0" href="http://fil.vamberi.com.ua/ua/account/ads/create">
			<div class="flex shrink-0 flex-col items-center gap-1">
				<svg class="h-5 w-5 fill-transparent stroke-shark">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#circle-plus"></use>
				</svg>
				<div class="text-xs text-shark">Подати</div>
			</div>
		</a>
		<a class="shrink-0" href="">
			<div class="flex shrink-0 flex-col items-center gap-1">
				<svg class="h-5 w-5 fill-shark">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#envelope"></use>
				</svg>

				<div class="text-xs text-shark">Чат</div>
			</div>
		</a>
		<a class="shrink-0" href="http://fil.vamberi.com.ua/ua/account">
			<div class="flex shrink-0 flex-col items-center gap-1">
				<svg class="h-5 w-5 fill-shark">
					<use xlink:href="img/svg/sprites/sprite-icons.svg#user01"></use>
				</svg>
				<div class="text-xs text-shark">Профіль</div>
			</div>
		</a>
	</div>
</div>

<!-- ./sticky menu -->
