$wild-sand: #f5f5f5; // body bg
$lavender-purple: #8b7aa8; // відтінок пурпурового → buttons
$tall-poppy: #b73d25; // відтінок червого
$deep-blush: #e358a6; // відтінок розового
$shark: #212529; // відтінок сірого
$dusty-gray: #999494; // відтінок сірого
$alto: #d9d9d9; // slider bullets
$alabaster: #fbfbfb; // відтінок сірого
$ebb: #efe7e7; // відтінок сірого
$goldenrod: #fccb71; // rating star помаранчевий
$tundora: #424242; // відтінок сірого → text
$royal-blue: #5477e7; // відтінок винього → links
$dove-gray: #6a6969; // світло сірий → text; borders
$pomegranate: #f03b42; // відтінок червоного → text; borders
$waikawa-gray: #5c78ac; // відтінок синього → text
$limeade: #679b00; // салатовий → text
$persian-red: #ca392d; // відтінок червого
$cornflower-blue: #807ffe; // статус товару На модераціїї
$japanese-laurel: #008001; // статус товару Опубліковано
$pumpkin: #ff7e23; // статус товару Чернетка
$custom-gray: #7f7f7f; // статус товару Приховано
$crimson: #ed1b24; // статус товару Відхидено
$cerulean: #00a3e8; // статус товару Видалено
$parchment: #efe4d2; // бежевий
$jordy-blue: #82baf1; // Блакитний
$koromiko: #fec169; // жовтий
$fruit-salad: #47935d; // зелений
$punch: #dc3836; // червоний
$coral: #fa8446; // помаранчевий
$sunglow: #ffc627; // укрпошта
$pattens-blue: #d9ebff; // chat answer background
$white: #fff;
$black: #000;
