@import "./fonts";
@import "./tailwind";
@import "./scrollbar";
@import "./sliders";

.dashed-line {
	background-image: linear-gradient(to right, transparent 50%, #999999 50%);
	background-size: 0.625rem 100%;
}

.gradient-pink {
	background: linear-gradient(118deg, #ffe6e6 0%, #f6ccc8 100%);
}

.delivery-service-input:checked + .delivery-service-name {
	box-shadow: 0 0 0 0.5px #8B7AA8;
}